$primary: #11998e;
$secondary: #38ef7d;
$white: #000000;
$gray: #9b9b9b;

.btn-primary{
  margin-left: 95%;
}

.navbar-brand{
  text-align: center;
  padding-left: 10px;
  font-weight: bold;
  display: inline-block;
}

.border{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form_group{
  padding-top: 100px;

}



