.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0
}

.navbar-header {
    text-align: center
}

.navbar-brand {
    height: auto;
    padding: 0;
    font-size: 16px;
    display: inline-block;
    float: left;
    text-align: center;
    margin: 9px 0 0 20px
}

.navbar-nav>li>a {
    font-size: 14px
}

.navbar-brand #logo-name {
    display: inline-block;
    font-size: 23px;
    font-weight: 700;
    line-height: 46px;
    padding-left: 5px;
    color: black;
}

.navbar-brand a {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    vertical-align: middle
}

.navbar-brand img {
    display: inline-block;
    vertical-align: top
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
    background: 0 0;
    font-weight: 300
}

.navbar-toggle {
    position: absolute;
    right: 10px;
    top: 0;
    border-color: #c10841;
    color: #293a46;
    margin-right: 0
}

.navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background: #f9f9f9;
    border-color: #c10841
}

.navbar-toggle .icon-bar {
    background: #c10841
}

.navbar-minimal .navbar-header {
    text-align: center!important;
    float: none!important
}

.navbar-default .navbar-form {
    border: 0;
    padding: 0 15px
}

.navbar-default .navbar-form a.btn {
    margin-left: 10px
}

.navbar.navbar-fixed-bottom {
    border-top: 1px solid #ddd
}

.navbar-fixed-bottom .navbar-nav,.navbar-fixed-bottom .navbar-header {
    display: none
}

.navbar-fixed-bottom .navbar-right {
    margin-right: 0
}

.navbar-fixed-bottom .navbar-right .close {
    margin-top: 8px
}

.navbar-fixed-bottom .dropdown .caret {
    position: absolute;
    right: 20px;
    top: 27px
}

.navbar-fixed-bottom .dropdown {
    border-left: 1px solid #dcdfe4;
    border-right: 1px solid #dcdfe4
}

.navbar-fixed-bottom .dropdown+.dropdown {
    margin-left: -1px
}

.navbar-fixed-bottom .dropdown-toggle {
    line-height: 1.2;
    padding: 7px 25px 13px;
    min-width: 130px;
    margin-left: 0
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
    width: auto;
    right: -1px;
    left: -1px;
    min-width: 130px;
    margin-bottom: 1px;
    border: 1px solid #dcdfe4;
    border-bottom-width: 0;
    box-shadow: none
}

.navbar-fixed-bottom .navbar-nav>.open>a,.navbar-fixed-bottom .navbar-nav>.open>a:focus,.navbar-fixed-bottom .navbar-nav>.open>a:hover {
    color: inherit;
    background-color: inherit
}

.navbar-fixed-bottom .dropdown-menu>li>a {
    font-weight: 300;
    padding: 8px 24px
}

.navbar-fixed-bottom small {
    font-size: 70%
}

.navbar-fixed-bottom .navbar-form {
    margin-top: 8px
}

.navbar-fixed-bottom .navbar-brand {
    padding: 16px 25px
}

@media(min-width: 768px) {
    .navbar {
        margin-bottom:0
    }

    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        margin-left: 0
    }

    .navbar-tall {
        height: 66px
    }

    .navbar-tall .navbar-header,.navbar-tall .navbar-nav {
        line-height: 66px;
        text-align: left
    }

    .navbar-brand {
        float: none;
        display: inline-block;
        text-align: left
    }

    .navbar-nav>li>a {
        display: inline-block
    }

    .navbar-nav>li:first-child>a {
        margin-left: 0
    }

    .navbar-fixed-bottom .navbar-nav,.navbar-fixed-bottom .navbar-header {
        display: block
    }

    .navbar-fixed-bottom .navbar-right .close {
        display: none
    }
}
