<nav class="navbar navbar-tall navbar-full" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand logo-cont">
                    <a class="" href="en457.html" style="padding: 0;">
                        <img height="46px" width="46px" src="assets/logo.png" alt="Logo y2mate.com"
                             style="height:46px;">
                        <span id="logo-name">
y2mate.com
</span>
                    </a>
                </div>
                <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse"
                        data-target="#global-nav">
                    <span class="sr-only">Y2Mate.com</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse p-l-0 p-r-0" id="global-nav">
                <div class="navbar-right m-r-0">
                    <ul class="nav navbar-nav m-r-0 m-l-0">
                        <li>
                            <a href="https://www.y2mate.com/en368/download-youtube">YouTube Downloader</a>
                        </li>
                        <li>
                            <a href="https://www.y2mate.com/en407/convert-youtube">YouTube Converter</a>
                        </li>
                        <li>
                            <a href="https://www.y2mate.com/en407/youtube-mp3">YouTube to MP3</a>
                        </li>
                        <li class="hidden visible-xs">
                            <a href="en457/instagram-downloader.html">Instagram Video Downloader</a>
                        </li>
                        <li class="hidden visible-xs">
                            <a href="en457/tiktok-downloader.html">Tiktok Video Downloader</a>
                        </li>
                        <li class="hidden visible-xs">
                            <a href="en457/facebook-downloader.html">Facebook Video Downloader</a>
                        </li>
                        <li class="hidden visible-xs">
                            <a href="en457/twitter-downloader.html">Twitter Video Downloader</a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">English <span class=""></span></a>
                            <ul class="dropdown-menu" id="menu-lang">
                                <li><a data-lang="en" href="en457.html">English</a></li>
                                <li><a data-lang="de" href="/de368">Deutsch</a></li>
                                <li><a data-lang="es" href="/es409">Español</a></li>
                                <li><a data-lang="fr" href="/fr386">Français</a></li>
                                <li><a data-lang="hi" href="/hi396">हिन्दी / Hindī</a></li>
                                <li><a data-lang="id" href="/id387">Indonesian</a></li>
                                <li><a data-lang="it" href="/it353">Italiano</a></li>
                                <li><a data-lang="jp" href="/jp359">日本語</a></li>
                                <li><a data-lang="kr" href="/kr364">한국어</a></li>
                                <li><a data-lang="mm" href="/mm346">Myanmar (မြန်မာ)</a></li>
                                <li><a data-lang="my" href="/my377">Malay</a></li>
                                <li><a data-lang="ph" href="/ph374">Filipino</a></li>
                                <li><a data-lang="pt" href="/pt383">Português</a></li>
                                <li><a data-lang="ru" href="/ru374">Русский</a></li>
                                <li><a data-lang="th" href="/th368">ไทย</a></li>
                                <li><a data-lang="tr" href="/tr378">Türkçe</a></li>
                                <li><a data-lang="vi" href="/vi379">Tiếng Việt</a></li>
                                <li><a data-lang="zh-cn" href="en457.html">简体中文</a></li>
                                <li><a data-lang="zh-tw" href="en457.html">繁體中文</a></li>
                                <li><a data-lang="sa" href="/sa368">العربية</a></li>
                                <li><a data-lang="bn" href="/bn373">বাঙালি</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</nav>
